{% load staticfiles %}

{% if user_list %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>GE LineCook</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'linecook/dist/css/bootstrap.min.css' %}" href="" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href={% static 'linecook/carousel.css' %} rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body style="padding-top: 50px; padding-bottom: 20px;">
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">GE LineCook</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              <form class="navbar-form navbar-right" role="form" onsubmit="location.href='{% url 'index' %}' + document.getElementById('username').value; return false;" >
	              <div class="form-group">
	                <input type="text" placeholder="Username" id="username" class="form-control">
	              </div>
	              <div class="form-group">
	                <input type="password" placeholder="Password" class="form-control">
	              </div>
	              <button type="submit" class="btn btn-success">Sign in</button>
	            </form>
            </div>
          </div>
        </div>

      </div>
    </div>


	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container"> 
        <h1>LineCook</h1>
        <p>All of the hard work, none of the prestige.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-7">
        	<img src="/static/linecook/linecook.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h2>Let your oven do the cooking</h2>
          <p>Forget keeping track of complicated cooking instructions. With LineCook, you just scan and go! Use the manufacturer's recommended instructions, create your own,
          or draw from a huge database of recipes submitted by home chefs like you!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>

      <hr>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-rounded" src="/static/linecook/barcode_icon.png" alt="Generic placeholder image">
          <h2>Scan</h2>
          <p>Scan your food, and the oven does the rest! Preheat, Bake, Broil, Braise, and Roast- All taken care of.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rounded" src="/static/linecook/chef_icon.png" alt="Generic placeholder image">
          <h2>Cook</h2>
          <p>Toss it in and wait, all the hard work is done for you!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rounded" src="/static/linecook/upload_icon.png" alt="Generic placeholder image">
          <h2>Upload</h2>
          <p>Need a barcode for Grandma's famous cookies? Prefer your Pizza a little more well done? Customize and share your own recipes!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'linecook/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'linecook/docs.min.js' %}"></script>
  </body>
</html>


{% else %}
	Cannot connect to database!
{% endif %}
